@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css2")
    @Scripts.Render("~/bundles/scripts2")

    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="/signalr/hubs"></script>

    <title>@ViewBag.Title</title>
</head>

<body>
    <style type="text/css">
        /*Added css for design notification area, you can design by your self*/
        /* COPY css content from youtube video description*/
        .noti-content {
            position: fixed;
            right: 5%;
            background: #9E988B;
            border-radius: 4px;
            top: 47px;
            width: 250px;
            display: none;
            border: 1px solid #9E988B;
        }

        ul#notiContent {
            max-height: 200px;
            overflow: auto;
            padding: 0px;
            margin: 0px;
            padding-left: 20px;
        }

            ul#notiContent li {
                margin: 3px;
                padding: 6px;
                background: #fff;
                color: #000000;
            }

        .noti-top-arrow {
            border-color: transparent;
            border-bottom-color: #F5DEB3;
            border-style: dashed dashed solid;
            border-width: 0 8.5px 8.5px;
            position: absolute;
            right: 32px;
            top: -8px;
        }

        span.noti {
            cursor: pointer;
        }

        span.count {
            position: relative;
            top: -3px;
        }
    </style>

    <div class="w3-top">
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="min-width:1000px">
            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
            <img src="~/images/sms2i.png" style="margin-right:2%" height="42" width="42">

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li id="back" class="nav-item ">
                        <a class="nav-link" style="cursor:pointer"><i class="fas fa-arrow-left"></i></a>
                    </li>
                    <li id="next" class="nav-item ">
                        <a class="nav-link" style="cursor:pointer"><i class="fas fa-arrow-right"></i></a>
                    </li>
                    <li id="refresh" class="nav-item ">
                        <a class="nav-link" style="cursor:pointer"><i class="fas fa-sync-alt"></i></a>
                    </li>
                    <li id="home" class="nav-item ">
                        <a class="nav-link" href="/Welcome/Home"><i class="fas fa-home"></i> Home </a>
                    </li>
                    <li id="about" class="nav-item">
                        <a class="nav-link" href="/Welcome/about"><i class="fas fa-info"></i> About</a>
                    </li>
                    <li id="contact" class="nav-item">
                        <a class="nav-link" href="/Welcome/contact"><i class="far fa-envelope"></i> Contact</a>
                    </li>
                    <li id="history" class="nav-item ">
                        <a class="nav-link" href="/Welcome/history"><i class="fas fa-history"></i> History </a>
                    </li>
                </ul>
                @*<form class="form-inline my-2 my-lg-0" style="margin-right:1%">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>*@
                <div style="margin-right:1%">
                    <span class="noti far fa-bell mr-sm-2 w3-text-white" style="font-size:2em" title="Notifications"></span>
                    <span class="count w3-badge w3-right w3-small w3-green">&nbsp;</span>
                    <div class="noti-content">
                        <div class="noti-top-arrow"></div>
                        <ul id="notiContent"></ul>
                    </div>
                </div>

                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , style = "margin-right:1% ; color:#ffffff" })

                @using (Html.BeginForm("LogOff", "login", FormMethod.Post, new { style = "margin-right:1%", id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" style="color:#ffffff">Log off</a>
                    <i class="fas fa-sign-out-alt"></i>
                }
            </div>
        </nav>
    </div>

    <div style="margin-top:50px">
        @RenderBody()
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var pathname = window.location.pathname;
            $(function () {
                if (pathname == "/Welcome/Home")
                    $("#home").addClass("active");
                else if (pathname == "/Welcome/about")
                    $("#about").addClass("active");
                else if (pathname == "/Welcome/contact")
                    $("#contact").addClass("active");
                else if (pathname.substring(0, 16) == "/Welcome/history")
                    $("#history").addClass("active");

                $('#back').click(function (e) {
                    e.stopPropagation();
                    parent.history.back();
                    return false;
                });
                $('#next').click(function (e) {
                    e.stopPropagation();
                    window.history.forward();
                    return false;
                });
                $('#refresh').click(function (e) {
                    e.stopPropagation();
                    location.reload();
                    return false;
                });

                // Click on notification icon for show notification
                $('span.noti').click(function (e) {
                    e.stopPropagation();
                    $('.noti-content').toggle();
                    var count = 0;

                    count = parseInt($('span.count').html()) || 0;
                    count++;

                    //only load notification if not already loaded
                    if (count > 0) {
                        updateNotification();
                    }
                    $('span.count', this).html('&nbsp;');
                })
                // hide notifications
                $('html').click(function () {
                    $('.noti-content').hide();
                })
                // update notification
                function updateNotification() {
                    $('#notiContent').empty();
                    $('#notiContent').append($('<li>Loading...</li>'));

                    $.ajax({
                        type: 'GET',
                        url: '/welcome/GetNotificationContacts',
                        success: function (response) {
                            $('#notiContent').empty();
                            if (response.length == 0) {
                                $('#notiContent').append($('<li>No data available</li>'));
                            }
                            $.each(response, function (index, value) {
                                $('#notiContent').append($('<li>Alert: (' + value.date + ') form station ' + value.stationID +' ('+value.countrie+')</li>'));
                            });
                            $('#notiContent').append($('<li><a href="/Welcome/alerts" >Show all details</a></li>'));
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                }
                // update notification count
                function updateNotificationCount() {
                    var count = 0;
                    count = parseInt($('span.count').html()) || 0;
                    count++;
                    $('span.count').html(count);
                }
                // signalr js code for start hub and send receive notification
                var notificationHub = $.connection.notificationHub;
                $.connection.hub.start().done(function () {
                    console.log('Notification hub started');
                });
                //signalr method for push server message to client
                notificationHub.client.notify = function (message) {
                    if (message && message.toLowerCase() == "added") {
                        updateNotificationCount();
                    }
                }
            });
        });
    </script>
</body>
</html>